<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
</head>
<body>
    <div class="container">
        <h2>当前书籍：{{book.title}}</h2>
        {% if book.heroinfo_set.count %}
            <ul>
            {% for h in book.heroinfo_set.all %}
                <li>{{forloop.counter}} {{h.name}}----{{h.content}}
                    <a href="{% url 'booktest:deletehero' h.id %}">删除</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
                <li>没有角色</li>
        {% endif %}
        <a href="{% url 'booktest:addhero' book.id %}">添加角色</a>
</div>

</body>
</html>